<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Eliminar registro</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

  	<div class="row">
  		<div class="col-12">
			<div class="alert alert-danger" role="alert">
				¿Se encuentra seguro de querer eliminar este registro?
			</div>

  			<form>
  				
  				<div class="row" *ngFor="let att of estructura;let i = index; ">
  					<div class="col-6" *ngIf="att.tipo=='Text' && att.nombre!='figura' && att.nombre=='color'">
  						<label class="control-label" [for]="att.nombre">{{att.nombre}}</label>
  						<input type="text" class="form-control" [name]="att.nombre" [(ngModel)]="dato.properties[''+att.nombre]" disabled>
  					</div>
  					<div class="col-6" *ngIf="att.tipo!='Text' && att.nombre!='figura' && att.nombre=='color'">
  						<label [for]="att.nombre">{{att.nombre}}</label>
  						<input type="number" class="form-control" [name]="att.nombre" [(ngModel)]="dato.properties[''+att.nombre]" disabled>
  					</div>
  				</div>


  			</form>

  		</div>
  	</div>

  </div>
  <div class="modal-footer">
	<button type="button" class="btn btn-outline-danger" (click)="actualizarDato()">Eliminar<i class="fa fa-trash-o" aria-hidden="true"></i></button>
	<button type="button" id="cerrar" class="btn btn-outline-warning" (click)="c('Close click')">Cancelar<i class="fa fa-times" aria-hidden="true"></i></button>
  </div>
<i class="fa fa-spinner fa-pulse fa-2x fa-fw" *ngIf="loading"></i>
</ng-template>

<button type="button" class="btn btn-outline-danger" (click)="open(content)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>