<div class="row">
<div class="col-12">

	<h4 class="text-center text-danger">¿Está seguro de querer eliminar esta categoría?</h4>
	
	<form class="form" (submit)="eliminarCategoria()">
		<fieldset class="form-group" disabled>

		<div class="row">
			<div class="form-group col-5">
				<label class="control-label" for="nombre">Nombre</label>
				<input type="text" class="form-control" name="nombre" [(ngModel)]="categoria.nombre">
			</div>
			<div class="form-group col-7">
				<label class="control-label" for="descripcion">Descripcion</label>
				<textarea rows="3" class="form-control" name="descripcion" [(ngModel)]="categoria.descripcion"></textarea>
			</div>
		</div>

		<div class="row short-mod">

			<div class="col"></div>

			<div class="col">
				
				<table class="table table-hover table-responsive">
				  <caption>Parametros de la Categoria</caption>

				  <thead>
				    <tr>
				      <th scope="col">#</th>
				      <th scope="col">Parametro</th>
				      <th scope="col">Tipo</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr *ngFor="let atributo of categoria.parametros; let i = index; ">
				      <th scope="row" *ngIf="atributo.nombre!='geom'">{{i+1}}</th>
				      <td *ngIf="atributo.nombre!='geom'">{{atributo.nombre}}</td>
				      <td *ngIf="atributo.nombre!='geom'">{{atributo.tipo}}</td>
				    </tr>			    
				  </tbody>
				</table>

			</div>

			<div class="col"></div>

		</div>


		</fieldset>		

		<div class="row">
			<div class="col-auto">
				<input type="submit" class="btn btn-outline-success" value="Eliminar">
			</div>
			<div class="col-auto">
				<button type="button" class="btn btn-outline-danger" (click)="terminarBorrado()">Cancelar</button>
			</div>
			<div class="col"></div>
		</div>

	</form>

</div>
</div>

<i class="fa fa-spinner fa-pulse fa-2x fa-fw" *ngIf="loading"></i>